@media screen and (max-width: 576px) {

    :root {
        --heading: 42px;
    }

    header {
        max-width: 100%;
        overflow-x: hidden;
    }

    nav {

        padding-top: 40px;
        justify-content: center;
        text-align: center;
    }

    .navbar,
    .nav-menu {
        flex-direction: column;
    }

    .logo {
        font-size: 28px;
        margin-bottom: 12px;
    }

    .navbar ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }


    /* Banner related styles */

    .banner-container {
        max-width: 95%;
        height: auto;
        background-position: top center;
        gap: 95px;
        flex-direction: column-reverse;
    }


    .banner-content {
        max-width: 100%;
        text-align: center;
    }

    .banner-content h3 {
        font-size: 34px;

    }

    .banner-image,
    .banner-image img {
        max-width: 100%;
    }


    /* Sponsors related styles */

    .sponsor-container,
    .sponsor-container img {
        max-width: 100%;
    }

    .sponsor-container {
        grid-template-columns: repeat(4, 1fr);
        padding: 25px 28px;
        row-gap: 20px;
    }


    /* Card Section */

    .card-container {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        max-width: 100%;
        margin: 0 auto;
    }


    /* Feature Section */


}