@media screen and (max-width: 576px) {

    :root {
        --heading: 42px;
    }

    header {
        max-width: 100%;
        overflow-x: hidden;
    }

    nav {

        padding-top: 50px;
        justify-content: center;
        text-align: center;
    }

    .navbar,
    .nav-menu {
        flex-direction: column;
    }

    .logo {
        font-size: 28px;
    }


    /* Banner related styles */

    .banner-container {
        max-width: 95%;
        height: auto;
        background-position: top center;
        gap: 75px;
        flex-direction: column-reverse;
    }


    .banner-content {
        max-width: 100%;
        text-align: center;
    }

    .banner-content h3 {
        font-size: 34px;

    }

    .banner-image {
        max-width: 100%;
    }


}